<% if @posts.present? %>
  <% @posts.each do |post| %>
    <div class="post">
      <%= link_to post do %>
        <div class="post_header">
          <h2 class="title"><%= post.title %></h2>
          <%= fa_icon 'clock-o' %><p class="posted_at"><%= post.posted_at.strftime("%Y.%m.%d %H:%S") %></p>
        </div>
        <div class="post_body">
          <%= truncate post.body, length: 400, omission: '...' %>
        </div>
      <% end %>
    </div>
  <% end %>
  <%= paginate @posts %>
<% else %>
  <p>記事が存在しません。</p>
<% end %>