<table class="post">
  <tr>
    <th>id</th>
    <td><%= @post.id %></td>
  </tr>
  <tr>
    <th>title</th>
    <td><%= @post.title %></td>
  </tr>
  <tr>
    <th>body</th>
    <td><%= @post.body %></td>
  </tr>
  <tr>
    <th>posted_at</th>
    <td><%= @post.posted_at %></td>
  </tr>
  <tr>
    <th>status</th>
    <td><%= @post.status %></td>
  </tr>
</table>