<% @page_title = '投稿詳細' %>
<table class="post">
  <tr>
    <th><%= t 'views.post.id' %></th>
    <td><%= @post.id %></td>
  </tr>
  <tr>
    <th><%= t 'views.post.title' %></th>
    <td><%= @post.title %></td>
  </tr>
  <tr>
    <th><%= t 'views.post.tag' %></th>
    <td><%= @post.tag_list %></td>
  </tr>
  <tr>
    <th><%= t 'views.post.body' %></th>
    <td><%= @post.body %></td>
  </tr>
  <tr>
    <th><%= t 'views.post.posted_at' %></th>
    <td><%= @post.posted_at.strftime('%Y/%m/%d %H:%M') %></td>
  </tr>
  <tr>
    <th><%= t 'views.post.status' %></th>
    <td><%= @post.status %></td>
  </tr>
</table>