<% if post.present? %>
  <div class="post">
    <div class="post_header">
      <h2 class="title">
        <%= link_to_unless_current post.title, post, class: 'post' %>
      </h2>
      <%= fa_icon 'clock-o' %><p class="posted_at"><%= post.posted_at.strftime('%Y.%m.%d') %></p>
      <%= render 'posts/tags', tag_list: post.tag_list %>
    </div>
    <div class="post_body">
      <div class="markdown_view">
        <% if detailed %>
          <%= markdown post.body %>
        <% else %>
          <%= markdown truncate(strip_tags(post.body), length: 200, omission: '...') %>
        <% end %>
      </div>
    </div>
    <%= link_to '続きを読む...', post, class: 'read_more' unless detailed %>
  </div>
<% end %>