<!DOCTYPE html>
<html>
<head>
  <title><%= page_title %></title>
  <%= stylesheet_link_tag 'admin/application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'admin/application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="main">


  <div class="header">
    <div class="header_inner">
      <%= render 'admin/shared/header' %>
    </div>
  </div>


  <div class="content">
    <%= yield %>
  </div>

</body>
</html>
