<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
  <title><%= page_title %></title>
  <%= stylesheet_link_tag 'admin/application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'admin/application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= analytics_init if Rails.env.production? %>
</head>
<body class="main">


  <div class="header">
    <div class="header_inner">
      <%= render 'admin/shared/header' %>
    </div>
  </div>


  <% if signed_in? %>
    <div class="navigation">
      <div class="navigation_inner">
        <%= render 'admin/shared/navigation' %>
      </div>
    </div>
  <% end %>


  <div class="content">
    <% if flash.notice %>
      <p class="notice"><%= flash.notice %></p>
    <% end %>
    <%= yield %>
  </div>

</body>
</html>
